body {
    background-color: #226666;
    display: grid;  
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

header {
    background-color: #0D4D4D;
    grid-row: 0/0;
    grid-column: 0/3;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 50px;
    justify-self: right;

}

p {
    background-color: teal;
    grid-row: 2/2;
    grid-column: 2/4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    justify-self: left;
}

#options {
    grid-row:3; 
    grid-column-start: 0;
    grid-column-end: 2;
    background-color: #407F7F;
    padding: 10px;
    justify-self: right;
    padding-left: 42%;
}

